<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	  <arg name="world_name" value="$(find ziko)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="verbose" default="true"/>
    <arg name="headless" value="true"/>
    <arg name="debug" value="false"/>
  </include>
<group ns="deminer">
  <!--param name="tf_prefix" value="deminer" /-->
  
  <include file="$(find ziko)/launch/mc.launch"/>
  <include file="$(find ziko)/launch/deminer.launch"/>
  <node name="deminer_spawn" pkg="gazebo_ros" type="spawn_model"
	    args=" -unpause -sdf -model deminer -file $(find ziko)/model/deminer.sdf  " respawn="false" output="screen" >
  </node>
</group>
<group ns="super">
	<!--param name="tf_prefix" value="super" /-->
  
  <include file="$(find ziko)/launch/mc.launch"/>
  <include file="$(find ziko)/launch/super.launch"/>
  <node name="super_spawn" pkg="gazebo_ros" type="spawn_model"
	    args="-y -.5 -unpause -sdf -model super -file $(find ziko)/model/super.sdf  " respawn="false" output="screen" />
</group>
</launch>

